@charset "UTF-8";
* {
  box-sizing: border-box;
}

.home-page {
  position: relative;
}
.home-page .home-container {
  height: 60vh;
  width: 100%;
  position: relative;
  z-index: 0;
}
.home-page .home-container .home-banner {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.home-page .home-container .home-banner .home-main {
  width: 100%;
  max-width: 500px;
}
.home-page .home-container .home-banner .btn {
  width: 50%;
  max-width: 400px;
}
.home-page .home-container .home-banner .btn .home-btn {
  margin: 15px auto 0 auto;
}
.home-page .home-container .home-banner .btn .home-btn img {
  padding: 0.5rem 0;
  width: 100%;
}

.instruction-page {
  position: relative;
}
.instruction-page button {
  background-color: inherit;
  position: fixed;
  z-index: 3;
  left: 1vw;
  top: 1vh;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.instruction-page button img {
  height: 5vh;
}
.instruction-page .instruction-container {
  height: 80vh;
  width: 100%;
  position: relative;
  z-index: 0;
}
.instruction-page .instruction-container .instruction-banner {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.instruction-page .instruction-container .instruction-banner .instruction-main {
  width: 80%;
  max-width: 600px;
  padding: 0 2rem;
}
.instruction-page .instruction-container .instruction-banner .btn {
  width: 50%;
  max-width: 400px;
}
.instruction-page .instruction-container .instruction-banner .btn .instruction-btn {
  margin: 15px auto 0 auto;
}
.instruction-page .instruction-container .instruction-banner .btn .instruction-btn img {
  padding: 0.5rem 0;
  width: 100%;
}

.ar-page {
  position: relative;
}
.ar-page .ar-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}
.ar-page .ar-container iframe {
  position: absolute;
  left: 0;
}
.ar-page .ar-container .ar-control-btn {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* 控制按鈕的設定 */
}
.ar-page .ar-container .ar-control-btn .control-button {
  transition: opacity 0.5s, visibility 1s;
  opacity: 0.5;
  visibility: visible;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.ar-page .ar-container .ar-control-btn .control-button:hover {
  opacity: 1;
}
.ar-page .ar-container .ar-control-btn .control-button div {
  height: 3rem;
  width: 3rem;
  text-align: center;
  font-family: arial;
  font-size: 1.25em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.ar-page .ar-container .ar-control-btn div.popup-menu {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 1rem;
  overflow: hidden;
}
.ar-page .ar-container .ar-control-btn div.popup-menu .menu-item {
  width: 110px;
  height: auto;
  padding: 0.5rem;
  border-bottom: 1px solid #a7a7a7;
  font-size: 0.75rem;
  justify-content: left;
}
.ar-page .ar-container .ar-control-btn div.popup-menu .menu-item:hover {
  background-color: #f0f0f0;
}
.ar-page .ar-container .ar-control-btn div.popup-menu .menu-item i {
  padding-right: 0.5rem;
}
.ar-page .ar-container .filter {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}
.ar-page .ar-container .filter .map {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ar-page .ar-container .filter .map h2 {
  font-size: 1.5rem;
  color: aliceblue;
}
.ar-page .ar-container .filter .map img {
  width: 80%;
}
.ar-page .ar-container .filter .reward-card {
  background-image: url("https://Yaoooooooha.github.io/ar-Tour/src/assets/images/ar-mode/reward-card/reward-card.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80vw;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ar-page .ar-container .filter .reward-card .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ar-page .ar-container .filter .reward-card .row1 {
  padding-top: 1.5rem;
}
.ar-page .ar-container .filter .reward-card img {
  width: 35vw;
  padding: 0.25rem;
}/*# sourceMappingURL=main.css.map */