html {
  height: 100vh;
}

.home-page {
  position: relative;
  .home-container {
    height: 60vh;
    width: 100%;
    position: relative;
    z-index: 0;

    .home-banner {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      position: relative;

      .home-main {
        width: 100%;
        max-width: 500px;
      }

      .btn {
        width: 50%;
        max-width: 400px;

        .home-btn {
          margin: 15px auto 0 auto;

          img {
            padding: 0.5rem 0;
            width: 100%;
          }
        }
      }
    }
  }
}

.instruction-page {
  position: relative;

  button {
    background-color: inherit;
    position: fixed;
    z-index: 3;
    left: 1vw;
    top: 1vh;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;

    img {
      height: 5vh;
    }
  }

  .instruction-container {
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: 0;

    .instruction-banner {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      position: relative;

      .instruction-main {
        width: 80%;
        max-width: 600px;
        padding: 0 2rem;
      }

      .btn {
        width: 50%;
        max-width: 400px;

        .instruction-btn {
          margin: 15px auto 0 auto;

          img {
            padding: 0.5rem 0;
            width: 100%;
          }
        }
      }
    }
  }
}

.ar-page {
  position: relative;

  .ar-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;

    iframe {
      position: absolute;
      left: 0;
    }

    .ar-control-btn {
      padding: 1rem;
      display: flex;
      justify-content: space-between;

      /* 控制按鈕的設定 */
      .control-button {
        transition: opacity 0.5s, visibility 1s;
        opacity: 0.5;
        visibility: visible;
        background-color: rgb(255, 255, 255);
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
      .control-button:hover {
        opacity: 1;
      }
      .control-button div {
        height: 3rem;
        width: 3rem;
        text-align: center;
        font-family: arial;
        font-size: 1.25em;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
      }
    }
  }
}
