body {
  margin: 0px;
  overflow: hidden;
}

/* Loding 提醒的設定 */
.arjs-loader {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arjs-loader div {
  text-align: center;
  font-family: arial;
  font-size: 1.25em;
  color: white;
  z-index: 5;
}

/* 控制按鈕的設定 */
.control-button {
  transition: opacity 0.5s, visibility 1s;
  opacity: 0.5;
  visibility: visible;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.control-button:hover {
  opacity: 1;
}
.control-button div {
  height: 10vw;
  width: 10vw;
  text-align: center;
  font-family: arial;
  font-size: 1.25em;
  color: black;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
#more-information {
  top: 15%;
  left: 85%;
}
#vedio-sound {
  top: 23%;
  left: 85%;
}
#play-vedio {
  top: 31%;
  left: 85%;
}
#take-picture {
  top: 90%;
  /* 置中 */
  left: 50%;
  transform: translate(-50%, 0);
}
